<div id="chat-container" class="flex flex-col">
  <!-- Messages -->
  <div #chatMessages id="chat-messages">
    <div
      *ngFor="let messageGroup of assistant.conversation.structuredMessages"
      class="chat-message-group flex flex-row"
      [class.left]="messageGroup.chatParticipant | instanceOf: Assistant"
      [class.right]="messageGroup.chatParticipant | instanceOf: User"
    >

      <!-- Message Content -->
      <div class="content flex flex-col">
        <div
          *ngFor="let message of messageGroup.messages"
          class="content-item flex flex-col"
          [style.--message-color]="message.chatParticipant.messageColor"
        >
          <app-chat-message [message]="message"></app-chat-message>
        </div>
      </div>
    </div>
  </div>

  <!-- Input + Mic -->
  <div id="chat-input-container" class="flex flex-row items-start">
    <!-- Mic Button -->
    <div class="flex h-full aspect-square justify-center align-center">
      <button
        id="listening-container"
        class="flex h-full w-auto items-center justify-center"
        (click)="toggleListener()"
      >
        <img
          [src]="this.audioService.listening ? 'assets/img/microphone.svg' : 'assets/img/no-microphone.svg'"
          [style.opacity]="this.audioService.listening ? 0 : 1"
          alt="Microphone"
          class="h-full w-auto"
        />
        <div
          id="circle-gradient-container"
          [class.microphone-disabled]="!assistant.triggered && !this.audioService.microphoneAccess"
          [class.listening]="!assistant.triggered && this.audioService.listening"
          [class.not-listening]="!assistant.triggered && !this.audioService.listening"
          [class.triggered]="assistant.triggered"
        ></div>
      </button>
    </div>

    <!-- Input Box -->
    <input
      class="grow"
      #chatInput
      id="chat-input"
      type="text"
      placeholder="Start talking..."
      [value]="assistant.draftText"
      (input)="onDraftInput($event)"
      (keydown.enter)="inputOnEnter(chatInput)"
    />
  </div>
</div>
