@import '../../../variables.scss';

#chat-container {
  width: 100%;
  height: 100%;
}

#chat-messages {
  flex-grow: 1;
  overflow: scroll;
  padding: 1em;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 1px 0 rgba(0, 140, 255, 0.5); /* Start with a minimal visible shadow */
  }
  50% {
    box-shadow: 0 0 3px 3px rgba(0, 140, 255, 0.3); /* Shadow expands but remains partially transparent and visible */
  }
  100% {
    box-shadow: 0 0 1px 0 rgba(0, 140, 255, 0.5); /* Return to a minimal visible shadow */
  }
}

.loader {
  z-index: 99999;
  width: 1em;
  height: 1em;
  position: absolute;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#chat-input-container {
  background: $background-color-1;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);

  > input {
    border-radius: $border-radius-1;
    font-size: 1.05rem;
    font-weight: 800;
    padding: 1.4em 1.8em 1.4em 0.3em;
    letter-spacing: 0.03em;
  }

  #listening-container {
    pointer-events: none;
    position: relative;

    #circle-gradient-container {
      pointer-events: all;
      position: absolute;
      height: 65%;
      width: 65%;
      border-radius: 50%;
    }

    > img {
      z-index: 99999;
      padding: 1.7em;
    }
  }
}

.microphone-disabled {
  background: rgb(43, 43, 43);
}

.not-listening {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(175, 175, 175, 0.3) 10%, rgb(136, 136, 136) 100%);
}

.listening {
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(80, 67, 196, 0.3) 40%, rgb(80, 67, 196) 100%);
  animation: pulse 6s infinite cubic-bezier(0.47, 0, 0.745, 0.715);
}

.chat-message-group {
  &.left {
    justify-content: start;

    .avatar {
      margin-right: 1em;
    }

    .content {
      align-items: start;

      > .content-item:first-child {
        border-radius: 0 $border-radius-1 $border-radius-1 $border-radius-1;
      }
    }
  }

  &.right {
    justify-content: end;

    .avatar {
      margin-left: 1em;
    }

    .content {
      align-items: end;

      > .content-item:first-child {
        border-radius: $border-radius-1 0 $border-radius-1 $border-radius-1;
      }
    }
  }

  .avatar {
    width: $message-height;
    height: $message-height;
    min-width: $message-height;
    min-height: $message-height;
    border-radius: 50%;
    background: #FFFFFF;
    overflow: clip;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .content {
    margin: 0.5em 0;

    .content-item {
      background: $ai-message-box-color;
      border-radius: $border-radius-1;
      overflow: clip;
      margin: 0 0 0.5em 0;
    }
  }
}
