<div id="chat-container" class="flex flex-col">
  <div #chatMessages id="chat-messages">
    <div *ngFor="let messageGroup of conversation?.structuredMessages" class="chat-message-group flex flex-row" [class.left]="messageGroup.chatParticipant | instanceOf: AI" [class.right]="messageGroup.chatParticipant | instanceOf: User">
      <div *ngIf="messageGroup.chatParticipant | instanceOf: AI" class="avatar flex flex-col justify-center items-center">
        <img crossorigin="anonymous" src="assets/dev/miku.jpg" alt="Avatar">
      </div>
      <div class="content">
        <div *ngFor="let message of messageGroup.messages" class="content-item flex flex-col justify-center">
          <p>{{ message }}</p>
        </div>
      </div>
      <div *ngIf="messageGroup.chatParticipant | instanceOf: User" class="avatar flex flex-col justify-center items-center">
        <img crossorigin="anonymous" src="assets/dev/shane.webp" alt="Avatar">
      </div>
    </div>
  </div>
  <div id="chat-input-container" class="flex flex-col">
    <input #chatInput id="chat-input" type="text" placeholder="Start talking..." (keydown.enter)="inputOnEnter(chatInput)">
  </div>
</div>
