<div id="nav-top-container" class="w-full h-full flex flex-row justify-between">
  <button id="menu-button" class="h-full">
    <img src="../../../assets/img/burger.svg" />
  </button>
  <div id="nav-links-container" class="flex flex-row">
    <a href="https://github.com/xenith-ai" target="_blank">
      <img src="../../../assets/img/github.svg" />
    </a>
    <a href="https://github.com/xenith-ai" target="_blank">
      <img src="../../../assets/img/discord.svg" />
    </a>
    <button id="profile-button" class="h-full">
      <img src="../../../assets/dev/shane.webp" />
    </button>
  </div>
</div>
