<div id="nav-top-container" class="w-full h-full flex flex-row justify-between">
  <div id="nav-menu-container" class="flex flex-row items-center">
    <button id="menu-button" class="h-full">
      <img src="../../../assets/img/burger.svg" alt="Burger menu button"/>
    </button>
    <h1>xenith</h1>
  </div>
  <div id="nav-links-container" class="flex flex-row">
    <a href="https://github.com/xenith-ai" target="_blank">
      <img src="../../../assets/img/github.svg" alt="Github button"/>
    </a>
    <a href="https://discord.gg/3tyww4AK4a" target="_blank">
      <img src="../../../assets/img/discord.svg" alt="Discord button"/>
    </a>
    <a href="https://trello.com/b/SRQzeoyA/xenith-roadmap" target="_blank">
      <img src="../../../assets/img/trello.svg" alt="Trello button"/>
    </a>
    <button id="profile-button" class="h-full">
      <img src="../../../assets/dev/shane.webp" alt="Profile button"/>
    </button>
  </div>
</div>
