@import '../../../variables.scss';

.chat-page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: $nav-top-height;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $text-color;
}

app-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: $mobile-collapse-width) {
  .chat-page-container {
    padding-top: 0;
  }
}

