<div class="page-container flex flex-col justify-center items-center">
  <div id="gradient-1"></div>
  <div id="gradient-2"></div>
  <div id="title-container">
    <h1>xenith</h1>
  </div>
  <div id="status-container" class="flex flex-row items-center justify-center">
    <div id="pulsating-circle-green" class="pulsating-circle"></div>
    <p>Listening...</p>
  </div>
  <div id="primary-chat-container">
    <app-chat [conversation]="conversation" [currentUser]="newUser"></app-chat>
  </div>
</div>
