@import '../variables.scss';

$file-drop-border-width: 15px;
$sidebar-width: 320px;

app-nav-top {
  z-index: $nav-top-z;
  height: $nav-top-height;
  position: absolute;
  width: 100%;
  max-width: 100%;
}
