<div id="outer-container" class="flex-row full-height full-width justify-center align-items-center">
  <div id="inner-container" class="flex-column">
    <button id="btn" class="btn btn-primary" (click)="loadModel()">Load Model</button>
    <button id="btn" class="btn btn-primary" (click)="initializeWhisper()">Initialize Whisper</button>
    <button id="btn" class="btn btn-primary" (click)="startRecording()">Start Recording</button>
    <button id="btn" class="btn btn-primary" (click)="logTranscribed()">Log Transcribed</button>
    <button id="btn" class="btn btn-primary" (click)="stopRecording()">Stop Recording</button>
  </div>
</div>
